body {
    padding: 0;
    margin: 0;
}

#Watch {
    margin: auto;
    position: relative;
    height: 45vw;
    width: 70vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}

#center {
    background: black;
    position: absolute;
    width: 2.5%;
    height: 4.2%;
    border-radius: 100%;
    left: 48.9%;
    top: 50%;
}

#hours,
#minutes,
#seconds {
    position: absolute;
    background: black;
}

#hours {
    position: absolute;
    left: 49.5%;
    top: 37.6%;
    width: 1%;
    height: 15%;
    transform-origin: bottom;
    /* display: none; */


}

#minutes {
    position: absolute;
    left: 49.65%;
    top: 31.5%;
    width: 0.5%;
    height: 21%;
    transform-origin: bottom;
    /* display: none; */
}

#seconds {
    position: absolute;
    left: 49.9%;
    top: 27.3%;
    width: .4%;
    height: 25%;
    transform-origin: bottom;
    /* display: none; */
}