body {
    background: linear-gradient(to right, purple, blue);
    padding: 0;
    margin: 0;
}

#Watch {
    margin: auto;
    position: relative;
    height: 45vw;
    width: 45vw;
    background: url(clock.webp) no-repeat;
    background-size: 100%;
}

#center {
    background: black;
    position: absolute;
    width: 4%;
    height: 4.2%;
    border-radius: 100%;
    left: 48.3%;
    top: 48%;
}

#hours,
#minutes,
#seconds {
    position: absolute;
    background: black;
}

#hours {
    position: absolute;
    left: 49.7%;
    top: 35.5%;
    width: 1%;
    height: 15%;
    transform-origin: bottom;
    /* display: none; */


}

#minutes {
    position: absolute;
    left: 49.99%;
    top: 29.5%;
    width: 0.5%;
    height: 21%;
    transform-origin: bottom;
    /* display: none; */
}

#seconds {
    position: absolute;
    left: 49.99%;
    top: 25.5%;
    width: .4%;
    height: 25%;
    transform-origin: bottom;
    /* display: none; */
}